<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.camera">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name="com.example.camera.camera.zxing.android.CaptureActivity" />
    </application>
</manifest>
